.Component_HeaderLogin {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    height         : 120px;
}

.Component_HeaderLogin>img {
    max-height: 50px;
    max-width : 250px;
}