.menuDash {
    width: 100vw;
    background-color: white;
    /* background-color: rgba(136,136,136,0.1); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.divMenu{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 100vw;
    overflow: hidden
    /* background-color: rgba(136,136, 136,0.1); */
}

.menuAberto {
    width: 90vw;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    background-color: white;
    margin-bottom: 3px;
    /* background-color: rgba(136,136, 136,0.1); */
}

.subMenu {
    display: flex;
    align-items: center;
    height: 4vh;
    /* padding: 3px; */
    font-size: large;
    justify-content: space-between;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.Flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleMenu {
    width: 70vw;
}

.div_titleMenu{
    width: 70vw;
    display:flex;
    flex-direction: row;
}

.titleMenu1 {
    width: 60vw;
}

.imgMenu {
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 20vw;
}
.imgMenu1 {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
}

.divMenuUsuarios {
    width: 74vw;
    margin-left: 8vw;
    
    /* display: flex;
    flex-direction: row; */
}

.subMenuUsuarios {
    display: flex;
    align-items: center;
    /* height: 4vh; */
    padding: 3px;
    font-size: medium;
    justify-content: space-between;
}

.textoMenuUsuario{
    width:50vw;
}
