.InfoCliente {
    background-color: rgba(136, 136, 136, 0.1);
    max-width       : 100vw;
    min-height      : 100vh;
    overflow        : hidden;
}

.main_InfoUsuarios {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.div_inputBuscaUsuario {
    padding: 2vh 0px 5vh 0px;
}

.input_filtro {
    width        : 85vw;
    height       : 6vh;
    border-radius: 10px;
    border       : none;
    font-size    : small;
    outline      : none;
}

table,
th,
td {
    border          : 0.6px solid black;
    background-color: white;
}

table {
    width     : 94vw;
    align-self: center;
}

td {
    padding   : 1px 0px;
    text-align: center;
}

.div_mapa{
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 0px;
    overflow: hidden;
}

/* @media (max-width:700px){
    table{
        width:90vw;
        align-self: center;
    } 
} */