.MeusPedidos_Div {
    height           : 100vh;
    max-width        : 100vw;
    overflow         : hidden;
}

.div_telaMeusPedidos {
    background-color: rgba(189, 189, 189, 0.1);
    height          : 100%;
    padding         : 5px 4vw 0vw 4vw;
}

.div_FiltrosMeusPedidos {
    padding: 0px 15px;
}

.btn_FiltroDePedidos {
    margin-top      : 5px;
    margin-bottom   : 5px;
    background-color: white;
    border          : none;
    width           : 90vw;
    height          : 20px;
    display         : flex;
    font-size       : 15px;
    font-weight     : 700;
    justify-content : space-between;
}

.DivPai_ReturnUltimosPedidos_MeusPedidos {
    height          : 80vh;
    /* overflow-x      : hidden; */
    /* overflow-y      : scroll; */
    background-color: white;
    padding         : 0vw 4vw 8vw 4vw;
}