/* #region 'Estoque' */
.ListaPrateleiraDeProdutos {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    margin-bottom  : 8vh;
}

.CardProduto_EstoquePetshop {
    box-sizing   : border-box;
    background   : #FFFFFF;
    border       : 1px solid #EFEFEF;
    box-shadow   : 15px 19px 44px rgba(233, 233, 233, 0.3);
    border-radius: 12px;
    margin-bottom: 25px;

    width : 160px;
    height: 290px;

    overflow: hidden;
}

.Div_BtnGerarPedido {
    margin: 5px 25px 15px 18px;
}

.Div_ListaComCardDosProdutos {
    padding           : 20px 20px;
    /* margin-top     : 20px; */
    display           : flex;
    flex-direction    : row;
    flex-wrap         : wrap;
    justify-content   : space-between;
    margin-bottom     : 8vh;
}

.Card_DivInfoProdutoEstoque {
    min-height     : 155px;
    height         : 155px;
    width          : 135px;
    padding        : 0px 10px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.Card_DivPrecoCompraEstoque {
    height        : 140px;
    bottom        : 2%;
    display       : flex;
    flex-direction: column;
}

.Btns_CardProdutosEstoque {
    display           : flex;
    flex-direction    : column;
    /* justify-content: space-between; */
    height            : 110px;
    margin-top        : 5px;
    margin-bottom     : 10px;
}

.Btn_AtualizarProdutoEstoque {
    color        : white;
    height       : 30px;
    background   : #EF3838;
    border       : 1px solid #F83C53;
    border-radius: 6.71698px;
    width        : 100%;
    margin-bottom: 5px;
}

.Btn_DeletarProdutoEstoque {
    color        : #EF3838;
    height       : 30px;
    background   : white;
    border       : 1px solid #F83C53;
    border-radius: 6.71698px;
    width        : 100%;
    margin-bottom: 5px;
}

.div_switch {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
}

/* #endregion */

.GerarPedido {
    background-color: rgba(136, 136, 136, 0.1);
    min-height      : 100vh;
    max-width       : 100vw;
    overflow        : hidden;
}

.Select_GerarPedido {
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
}

.Form_UsuarioGerarPedido {
    text-align: center;
}

.Form_UsuarioGerarPedido>input {
    margin: 4px 5px;
    width : 45vw;
    height: 21px;
}

.Form_UsuarioGerarPedido>button {
    width : 160px;
    height: 21px;
}

.checkbox_pagamentoPagamentoGerarPedido {
    display       : flex;
    flex-direction: column;
}

.cardInfoProduto_img {
    max-width : 100px;
    max-height: 100px;
}

.CardProduto_GerarPedidoPetshop {
    box-sizing   : border-box;
    background   : #FFFFFF;
    border       : 1px solid #EFEFEF;
    box-shadow   : 15px 19px 44px rgba(233, 233, 233, 0.3);
    border-radius: 12px;
    margin-bottom: 25px;

    width : 160px;
    height: 230px;

    overflow: hidden;
}

.Card_DivInfoProdutoGerarPedido {
    min-height     : 95px;
    height         : 95px;
    width          : 135px;
    padding        : 0px 10px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.Card_DivPrecoCompraGerarPedido {
    height        : 60px;
    bottom        : 0%;
    display       : flex;
    flex-direction: column;
}

.divDeAdicionarAoCarrinho {
    display       : flex;
    flex-direction: row;

}